@import "./styles/action_buttons.css";
@import "./styles/player_input.css";
@import "./styles/health_stats.css";
@import "./styles/damage_status.css";
@import "./styles/bee_swarm.css";
@import "./styles/game_title.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url('assets/images/bee_hive_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.banner {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.swarm-status {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}








