.title-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.title-icons-container {
    position: relative;
    width: 50px;
    height: 95px;
}

.title-icons-container img {
    position: absolute;
    top: 0;
    left: 0;
}

.title-icons-container img:last-child {
    z-index: 1;
}

.target-icon {
    width: 100px;
    height: 100px;
}